/* General */
body{
    transition: all .4s ease-in-out;
}
body.dark-theme{
    color: rgb(var(--default-white));
    background-color: rgb(var(--secondary));
}
body.dark-theme a{
    color: rgb(var(--default-white));
}

/* Icons */
body.dark-theme .auction__author-socnet path{
    fill: var(--primary);
}
body.dark-theme .footer-about__soc-net path{
    fill: rgb(var(--default-white));
}
body.dark-theme .footer-about__soc-net .youtube-triangle{
    fill: rgb(var(--default-black));
}
body.dark-theme .footer-about__soc-net .youtube-triangle{
    fill: rgb(var(--default-black));
}
body.dark-theme .header-search{
    stroke: rgb(var(--default-white));
}

body.dark-theme .btn{
    color:rgb(var(--default-black));
}
body.dark-theme .outline-btn{
    border:  1px solid var(--primary);
    color: rgb(var(--primary));
}
body.dark-theme header{
    background-color: inherit;
}
body.dark-theme .gray-bg, body.dark-theme .subscribe{
    background-color: rgba(var(--default-white), 0.06);
}
body.dark-theme .btn-cirсle{
    background-color: rgba(var(--default-white), 0.1);
}

body.dark-theme .mobile-app::after,
body.dark-theme .mobile-app::before{
    background-color: #151A24;
}
/* Categories */
body.dark-theme .category-bid .category-bid__btn{
    color: rgb(var(--secondary));
}
body.dark-theme .category-bid .category-bid__price{
    color: var(--primary);
}
body.dark-theme .categories__card{
    border: none;
    background-color: rgba(18, 23, 33, 0.8);
}
body.dark-theme .category-timer{
    background-color: rgba(var(--default-white), 0.1);
}

/* bg for cards */
body.dark-theme .categories__card,
body.dark-theme .collection__card{
    border: none;
    background-color: rgba(18, 23, 33, 0.8);
}

/* subscribe */
body.dark-theme .subscribe-content__form{
    background-color: rgba(var(--default-white), 0.2);
    color: rgb(var(--default-white));
}

/* Excepetions */
body.dark-theme .footer-rights,
body.dark-theme .header-product__btn{
    color: rgb(var(--secondary));
}
body.dark-theme .auction-btns .outline-btn{
    color: var(--primary);
}
body.dark-theme .mobile-app__qr-code{
    border-color:var(--primary);
}

/* shift imgs */
.switching-light-icon,
.switching-dark-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0s 0.6s;
}

body.dark-theme .switching-dark-icon {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
}

body.light-theme .switching-light-icon {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
}
body.dark-theme .slidebar__bg img{
    content: url(img/arts/slidebar/nft_circle-dark.png);
}
body.dark-theme .call_users img:nth-child(5){
    content: url(img/arts/footer/more_dark.png);
}
body.dark-theme .invitation-content{
    background-image: url(img/arts/invitation/Community-dark.png);
}