*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;

}


h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	
}
img{
	max-width: 100%;
}

/*хедер*/
.header{
	background-image: url(img/header_bg.jpg);
	height: 100vh;
	background-repeat:no-repeat ;
	background-size: cover;
}

.header_line{

	padding-top: 20px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	text-align: justify;
	
}
.header_logo{
	margin-left: 25px;
}
.header_logo img{
	width: 100px;
}
.nav_item{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-right: 25px;
}
.header_nav{
	display: flex;
}
.cart{
	margin: 0px 35px 0px 25px;
	width: 30px;
}

.nav_btn{
	padding-right: 25px;
	padding-top: 5px;
}
.nav_btn a{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: white;
	background-color:#FF7400;
	padding:  14px 18px;
	border-radius: 10px;

	transition: 0.3s linear;
}
.nav_btn a:hover{
	background-color:#C45C03;
}
.burger_menu{
	display: none;
	margin-right: 20px;
}

/*заголовок в начале*/
.header_mine{
	position: relative;
}
.header_title{

	color: #D67E35;
	font-family: 'Tinos', serif;
	font-size: 70px;
	font-weight: 400;
}
.header_title{
	position: absolute;
	left: 0;
	text-align: center;
	margin-left: 200px;
	margin-top: 262px;

}
.header_subtitle{
	line-height: 70px;
	font-size: 100px;
	padding-bottom: 20px;
}

.header_suptitle{
	line-height: 70px;
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.header_suptitle:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 60px;
	background-color: white;
	top: 204px;
	left: 125px;
}
.header_suptitle:before{
	position: absolute;
	content: '';
	height: 2px;
	width: 60px;
	background-color: white;
	top: 204px;
	left: 418px;
}
.header_btn{
	line-height: 20px;
}
.header_btn a{
	border-radius: 10px;
	text-transform: uppercase;
	background-color: #FF7400;
	padding: 14px 28px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

/*карточки*/
.cards_holder{
	display: flex;
	justify-content: center;
}

.card{
	width: 350px;
	box-shadow: 10px 10px 40px 20px #0000001A ;
	width: 349px;
	margin: 0px 60px;
	background-color: white;
	margin-top: -90px;
	padding: 40px 10px;
}
.card_img{
	padding-top: 31px;
	display: flex;
	justify-content: center;
}

.card_title{
	font-size: 26px;
	font-weight: 400;
	font-family: 'Tinos', serif;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
.card_title span{
	color: #bc9060;
}

.card_desc{
	color:#656363;
	font-size: 26px;
	font-weight: 400;
	font-family: 'Tinos', serif;
	text-align: center;
}
/*история*/
.history_title{
	font-size: 54px;
	font-weight: 400;
	font-family: 'Tinos', serif;
	width: 444px;
	text-align: center;
	margin-top: 21px;
	margin-bottom: 20px;
	
}
.history{
	margin-top: 150px;
	margin-bottom: 250px;
}



.history_title span{
	color: #d67e35;
}
.history_desc{
	color:#656363;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	width: 444px;
	text-align: center;
	margin-bottom: 40px;
}

.history_number{
	display: flex;
	width: 444px;
	justify-content: center;
}
.number_item{
	color:#BC9060;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-right: 60px;
}
.number_item span{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	display: block;
	color: black;
}

.history_images {
	width:700px;
    position: relative;
}

.history_holder {
	justify-content: space-around;
    display: flex;
}


.imgages-1 {
    position: absolute;
    z-index: 10;
    top: 54px;
    
}

.imgages-2 {
    position: absolute;
    z-index: 5;
    top: 228px;
    left: 346px;
}

.imgages-3 {
    position: absolute;
    z-index: 2;
    top: 0px;
    left:192px;
}
.history_cube{
	width: 100px;
	height: 190px;
	position: absolute;
    z-index: 1;
    background-color:#FFE8D0;
    top: 56px;
    left:434px;
}

/* чёрная штука */
.black_block{
	background-image: url(img/black-bg.jpg);
	background-repeat:no-repeat ;
	background-size: cover;
	padding: 80px 0;
}

.black_block_title{
	color:#D67E34 ;
	font-weight: 400;
	font-family: 'Tinos', serif;
	font-size: 52px;
	padding-bottom: 20px;
}
.black_block_desc{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.black_block_right_btn a{
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: white;
	background-color:#FF7400;
	padding:  14px 18px;
	border-radius: 10px;

	transition: 0.3s linear;
}
.black_block_right_btn a:hover{
	background-color:#C45C03;
}

.black_block_holder{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*наши блюда*/

.dishes{
	padding-top: 132px;
	padding-bottom: 50px;
}


.dishes_title{
	font-family: 'Tinos', serif;
	font-size: 54px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 140px;
}

.dishes_title span{
	color: #D67E34;
}

.dishes_burgers{
	display: flex;
	justify-content: center;

}
.burgers_item{
	display: flex;
	align-items: center;
	margin-bottom: 28px;
}
.burgers_item img{
	margin: 0 20px;
}

.burger_text{
	font-family: 'Tinos', serif;
	font-size: 26px;
	font-weight: 400;
	color: black;
}

/*меню*/
.menu{
	background-image: url(img/menu-bg.jpg);
	background-repeat:no-repeat ;
	background-size: cover;
	padding: 98px 0 226px 0;
}

.menu_title{
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 54px;
	color: white;
	margin-bottom:138px ;
	text-align: center;
}
.menu_cards{
	display: flex;
    justify-content: center;
}

.menu_card{
	text-align: center;
	background-color: white;
    width: 22%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu_card_img img{
	height: 230px;
}

.menu_card_title{
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 26px;
	color: black;

}
.menu_card_desc{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: black;
}

.menu_card_btn a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: white;
	padding: 14px 68px;
	text-transform: uppercase;
	background-color:#D67E34;


}
.menu_card_btn{
	margin-top: 20px;
}

/*галлерея блюд*/

.galery_title{
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 54px;
	color: black;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;
}
.galery_title span{
	color: #D67E34;
}

.galery_content{
	display: flex;
	justify-content: center;
}
.galery_left{
	margin-right: 20px;
}
.galery_down,
.galery_up{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cook_title{
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 54px;
	color: black;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 106px;
}
.cook_title span{
	color: #D67E34;
}

.cookers_img{
	display: flex;
	justify-content: space-around;
	margin-bottom: 80px;
}

.block{
	display: block;
}
.burger_slide{
	margin: 0 auto;
	position: absolute;
}
button{
	border:none;
	outline: none;
	background-color: transparent;
}
.disp{
	display: none;
}


@media (max-width:1150px){
	.galery_content{
		display: block;
	}
	.img_galery,
	.galery_up,
	.galery_down{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.img_galery{
		margin-bottom: 20px;
	}
	.galery_left{
		margin-right: 0;
	}

	.menu_cards{
		display: block;
	}
	.menu_card{
		margin: 20px auto;
		width: 400px;
		height: 480px;
	}

	.header_title{
		margin-left: auto;
		position: static;
	}
	.header_suptitle:before,
	.header_suptitle:after{
		content: none;
	}

	.cookers_img{
		display: block;

	}
	.cookers_img img{
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
	}

	.black_block_holder{
		display: block;
	}
	.black_block_left,
	.black_block_right_btn{
		text-align: center;
	}
	.black_block_right_btn{
		padding-top: 40px;
	}

	.history_holder{
		display: block;
	}
	.history_title{
		width: auto;
	}
	.history_desc,
	.history_number,
	.history_images{
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.history_images{
		padding-bottom: 200px;
	}
	.imgages-2{
		top: 108px;
	}
	.dishes_burgers_img{
		display: none;
	}
}

@media (max-width:850px){
	.history_images{
		display: none;
	}
	.burger_menu{
		display: block;
	}
	.nav,
	.cart,
	.nav_btn{
		display: none;
	}

}

@media(max-width:1300px){
	.cards_holder{
		display: block;
	}

	.card{
		margin: 0 auto;
		width: 350px;
		margin-top: 30px;
		padding-top: 20px;
	}
}

@media (max-width:450px){
	.menu_card{
		width: auto;
	}
	.menu_card_img img{
		height: auto;
	}

	.history_desc{
		width: auto;
	}
	.number_item{
		font-size: 20px;
		margin-right: 20px;
	}
	.history_number{
		width: auto;
	}
}

@media (max-width:600px){
	.header_title{
		font-size: 36px;
	}
	.header_subtitle{
		font-size: 46px;
		line-height: 36px;
		padding-bottom: 2px;
	}
	.black_block_title{
		font-size: 38px;
	}
	.black_block_desc{
		font-size: 20px;
	}
}